@model SideXC.WebUI.Models.Inventory.MaterialType

@{
    ViewData["Title"] = "Material Types - Edit";
}

@Html.AntiForgeryToken()

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="/#">Home</a></li>
        <li class="breadcrumb-item">Inventory</li>
        <li class="breadcrumb-item">Catalogs</li>
        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "MaterialTypes")">Material Types</a></li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Edit Item
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form asp-action="Edit">
                            <div asp-validation-summary="All" class="bg-danger pt-2 pb-2 text-white mb-4"></div>
                            <div class="form-row mt-1">
                                <div class="col-md-6 mb-3">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" id="hddDescription" name="hddDescription" value="@Model.Description" />
                                    <label asp-for="Description" class="control-label font-weight-bold"></label>
                                    <input asp-for="Description" class="form-control form-control-sm" required autocomplete="off" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" asp-for="Active">
                                        <label class="custom-control-label" for="Active">Status</label>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" type="submit"><span class="fa fa-save"></span>&nbsp; Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
