@model SideXC.WebUI.Models.Inventory.Location

@{
    ViewData["Title"] = "Locations - New Item";
}

@Html.AntiForgeryToken()

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="/#">Home</a></li>
        <li class="breadcrumb-item">Inventory</li>
        <li class="breadcrumb-item">Catalogs</li>
        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Locations")">Locations</a></li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        New Item
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form asp-action="Create">                            
                            <div asp-validation-summary="All" class="bg-danger pt-2 pb-2 text-white mb-4"></div>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label asp-for="ShortDescription" class="control-label">Short Description</label>
                                    <input asp-for="ShortDescription" class="form-control form-control-sm" required autocomplete="off" />
                                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control form-control-sm" required autocomplete="off" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="ddWarehouse" class="control-label">Warehouse </label>
                                    <select id="ddWarehouse" name="ddWarehouse" class="form-control form-control-sm" asp-items="@(new SelectList(ViewBag.Warehouses,"Value", "Text"))">
                                        <option value="">-Please select one-</option>
                                    </select>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="ddHallways" class="control-label">Hallways </label>
                                    <select id="ddHallways" name="ddHallways" class="form-control form-control-sm">
                                        <option value="">-Please select one-</option>
                                    </select>
                                </div>
                            </div>

                            <button class="btn btn-primary" type="button" onclick="Save()"><span class="fa fa-save"></span>&nbsp; Guardar</button>
                            <button id="btnSave" class="btn btn-primary d-none" type="submit"><span class="fa fa-save"></span>&nbsp; Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/utilities/common.js"></script>

    <script>
        $(document).ready(function () {

            $("#ddWarehouse").change(function () {
                _CallMethod('Locations', 'GetHallways', { warehouseId: $(this).val() }, function (_result) {
                    data = JSON.parse(_result);

                    var ddHallways = $("#ddHallways");
                    ddHallways.empty();
                    var procemessage = '<option value="">-Please select one-</option>';
                    ddHallways.html(procemessage).show();

                    for (var x = 0; x < data.length; x++) {
                        var option = $("<option />").attr("value", data[x].Id).text(data[x].Description);
                        ddHallways.append(option);
                    }
                });
            });
        });

        function Save() {
            var warehouse = $('#ddWarehouse').val();
            var hallways = $('#ddHallways').val();

            if (warehouse == "") {
                _AlertSideXC("Favor de seleccionar un Almacen.", "danger");
                return;
            }
            if (hallways == "") {
                _AlertSideXC("Favor de seleccionar un pasillo.", "danger");
                return;
            }
            $('#btnSave').click();
        }
    </script>

}

